body {
  font-family: sans-serif;
  background-color: #f3f9fb;
  font-family: 'Montserrat', sans-serif;
  /* margin-left: 3%;
  margin-right: 3%; */
}
.navbar {
  /* background-color: #68bbe1; */
  background-color: white;
  height: 100px;
  /* padding-top: 0px; */
  /* overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; */
}
.hidden {
  display: none;
}
.imageLogo {
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.title {
  flex: 0.5;
  margin-top: 20px;
  margin-left: 5px;
  color: #68bbe1;
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem;
}

.link {
  font-size: 1.3rem;
  text-align: right;
  padding-bottom: 10px;
}
.links {
  color: #68bbe1;
  margin-right: 20px;
}

.balance {
  position: absolute;
  z-index: 100;
  text-align: center;
  left: 45%;
  top: 10%;
}

#wholePage {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* margin-top: 40px; */
  margin-left: 50px;
  margin-right: 50px;
}

.bottomDiv {
  /* display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* margin-top: 40px;
  margin-left: 90px;
  margin-right: 30px; */
  text-align: center;
}

.instructions {
  /* margin-top: 40px; */
  margin-right: 250px;
  width: 60%;
  text-align: justify;
}

.text {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #0c2550;
  text-align: justify;
}
.instructionSignUp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
}
.bitcoinHome {
  /* width: 50%; */
  margin-top: 90px;
  align-items: center;
}
.signUp {
  width: 50%;
  /* margin-left: 50px; */
  margin-top: 30px;
}
.iphoneHome {
  margin-top: 50px;
  /* align-items: left; */
  width: 40%;
}

.userList {
  font-size: 10px;
}

.transactionDiv {
  margin-top: 50px;
}
.col-lg-6 {
  background-color: #f3f9fb;
  padding: 20px;
  margin-top: 30px;
  align-content: center;
}

#btcInfo,
#title,
#transactionTable,
#work,
#lightning,
#aboutTitle {
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: #0c2550;
}
#aboutTitle {
  text-align: center;
}
.aboutDiv {
  padding-top: 50px;
  margin-top: 200px;
  height: 550px;
  background-color: white;
}
#lightning {
  margin-top: 40px;
}
#transactionTable {
  margin-left: 20px;
}
h3 {
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #0c2550;
}

h4 {
  font-style: italic;
  font-size: 1.2em;
  color: #0c2550;
}
#update {
  margin-left: 40px;
  margin-top: 35px;
  font-size: 1.2em;
  font-style: italic;
  color: #0c2550;
  /* font-weight: bold; */
}

#today,
#convert {
  margin-left: 25px;
  margin-top: 10px;
  font-size: 1.2em;
  color: #0c2550;
}
#findUsername,
#beforeBox {
  margin-left: 25px;
  margin-top: 35px;
  font-size: 1.2em;
  color: #0c2550;
}
#convert {
  margin-left: 25px;
  margin-top: 25px;
  font-size: 1.2em;
  color: #0c2550;
}
.result {
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 80px;
}
.myform {
  width: 60%;
  height: 60%;
  margin: auto;
}
transaction {
  display: inline;
}

.container-fluid transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form.message,
form.username {
  text-align: right;
}
form.message .ui.input.focus {
  display: block;
}
form.message .ui.input.focus label {
  margin-right: 5px;
}
form.message .ui.button {
  margin: 5px 0 0;
}
.transactions table.ui.collapsing.table {
  width: 90%;
  margin: 0 auto;
}
.transactions table th.name {
  width: 40%;
}
.transactions table th.amount {
  width: 40%;
}
.transactions table th.date {
  width: 20%;
}
.transactions table .empty {
  text-align: center;
  color: #666666;
  font-style: italic;
}

.photo {
  margin: 60px auto 0;
  display: flex;
  justify-content: space-around;
}
.photo .student {
  width: 200px;
  text-align: center;
}
.pictures {
  margin: 0 auto;
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  overflow: hidden;
}

.photo .pictures img {
  width: 100px;
  margin-left: -6px;
  margin-top: -3px;
}

.presentation {
  margin-top: 20px;
}
.presentation span {
  font-size: 1.4em;
  font-weight: bold;
  color: #0c2550;
}

.presentation p {
  font-size: 1.2em;
  text-align: center;
  /* font-weight: bold; */
  color: #0c2550;
}
.presentation .github img,
.presentation .linkedin img {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.presentation .github a,
.presentation .linkedin a {
  font-size: 1em;
}
/* .student {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

.fullstack {
  margin-top: 70px;
  font-size: 1.5em;
  text-align: center;
  color: #0c2550;
}
.faqs {
  margin: 50px;
  background-color: white;
}
.faqsTitle {
  margin-top: 80px;
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: #0c2550;
  text-align: center;
}

.bold {
  font-weight: bold;
  color: #0c2550;
}

.description {
  color: #0c2550;
  margin-left: 4px;
  text-align: justify;
}
.question {
  padding-top: 20px;
  color: #0c2550;
  font-size: 2em;
}

.chart {
  height: 500px;
  width: 500px;
}

.lastDiv {
  margin-top: 30px;
}

#text {
  font-size: 2.5em;
  color: #0c2550;
  font-style: italic;
  font-weight: bold;
}
.cryptoEasy {
  margin-right: 150px;
  align-items: center;
  text-align: center;
  margin-top: 130px;
  width: 20%;
}
.centralDiv {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background: #f5f5f5;
  color: #ccc;
}

.tablegraphe {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.userInfo {
  width: 50%;
}

.twoChart {
  width: 50%;
}
