body {
  font-family: sans-serif;
  background-color: #f3f9fb;
  font-family: 'Montserrat', sans-serif;
  /* margin-left: 3%;
  margin-right: 3%; */
}
.navbar {
  /* background-color: #68bbe1; */
  background-color: white;
  margin-top: 2px;
  padding-top: 20px;
}

.imageLogo {
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.title {
  flex: 0.5;
  margin-top: 5;
  color: #68bbe1;
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem;
}

#link {
  font-size: 1.3rem;
  text-align: right;
  padding-bottom: 10px;
}
.links {
  color: #68bbe1;
  margin-right: 20px;
}
